.dtNode div ul li {
    list-style-type:none;}

.dtNode div ul li:before {

	content:"\00bb";
	font-size:120%;
	margin-right:4px;}

.dtNode div ul li.ticked:before {
    content:"\2713";
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding-top: 5rem;

}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
